.text {
    display: -webkit-box;
    line-clamp: 2;
    box-orient: vertical;
    overflow: hidden;
}

.article {
    min-height: calc(100vh - 64px);
}

.feed-back {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}